# SPDX-License-Identifier: GPL-2.0-or-later

# STM32H7[4|5]3I-EVAL: this is for the H7 eval boards.
# This is an ST EVAL-H743XI board with single STM32H743XI chip.
# http://www.st.com/en/evaluation-tools/stm32h743i-eval.html
# This is an ST EVAL-H753XI board with single STM32H753XI chip.
# http://www.st.com/en/evaluation-tools/stm32h753i-eval.html

# source [find interface/stlink.cfg]
source [find interface/cmsis-dap.cfg]

# 使用stlink的时候使用这个
# transport select hla_swd
# 高层硬件抽象swd接口

# 使用daplink的时候使用这个
transport select swd

source [find target/stm32h7x.cfg]

reset_config none
